In [312]:
import pandas as pd
import json
import pyarrow
import sqlalchemy
import psycopg2
import numpy as np

# Import data and clean

In [345]:
characters = pd.read_csv("C:/Users/steve/source/repos/PythonSuperheroes/Data/characters.csv")
charactersToComics = pd.read_csv("C:/Users/steve/source/repos/PythonSuperheroes/Data/charactersToComics.csv")
charactersStats = pd.read_csv("C:/Users/steve/source/repos/PythonSuperheroes/Data/charcters_stats.csv")
comics = pd.read_csv("C:/Users/steve/source/repos/PythonSuperheroes/Data/comics.csv")
marvelCharactersInfo = pd.read_csv("C:/Users/steve/source/repos/PythonSuperheroes/Data/marvel_characters_info.csv")
superheroesPowerMatrix = pd.read_csv("C:/Users/steve/source/repos/PythonSuperheroes/Data/superheroes_power_matrix.csv")
marvelDCCharactersCsv = pd.read_csv("C:/Users/steve/source/repos/PythonSuperheroes/Data/marvel_dc_characters.csv", encoding = "ISO-8859-1")
marvelDCCharactersXl = pd.read_excel("C:/Users/steve/source/repos/PythonSuperheroes/Data/marvel_dc_characters.xlsx")

In [346]:
#as many joins are on name, refactor this to make it cleaner and more reliable
charactersStats.rename(columns={"Name": "name"}, inplace = True)
superheroesPowerMatrix.rename(columns={"Name": "name"}, inplace = True)
marvelCharactersInfo.rename(columns={"Name": "name"}, inplace = True)

characters['name'] = characters['name'].str.lower()
charactersStats['name'] = charactersStats['name'].str.lower()
superheroesPowerMatrix['name'] = superheroesPowerMatrix['name'].str.lower()
marvelCharactersInfo['name'] = marvelCharactersInfo['name'].str.lower()

In [347]:
charactersStats

,name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-d man,good,50,31,43,32,25,52,233
1,a-bomb,good,38,100,17,80,17,64,316
2,abe sapien,good,88,14,35,42,35,85,299
3,abin sur,good,50,90,53,64,84,65,406
4,abomination,bad,63,80,53,90,55,95,436
...,...,...,...,...,...,...,...,...,...
606,yellowjacket,good,88,10,12,28,12,14,164
607,yellowjacket ii,good,50,10,35,28,31,28,182
608,ymir,good,50,100,27,100,83,28,388
609,zatanna,good,75,10,23,28,100,56,292
610,zoom,bad,50,10,100,28,72,28,288

In [348]:
#drop duplicates
characters = characters.drop_duplicates()
charactersStats = charactersStats.drop_duplicates()
superheroesPowerMatrix = superheroesPowerMatrix.drop_duplicates()
marvelCharactersInfo = marvelCharactersInfo.drop_duplicates()
comics = comics.drop_duplicates()
charactersToComics = charactersToComics.drop_duplicates()

In [349]:
#comics data has some missing descriptions which cannot be loaded as JSON into database, so these are converted to none so they are vlaid json
comics = comics.where(pd.notnull(comics), None)

## Review of marvelDCCharacters excel vs csv files

In [10]:
"""
the marvel_dc_characters file is available in csv and excel. 
The immediately obvious difference between these files is the FirstAppearance column which appears clean in the excel version but not in the csv
Review these to check if the rest of the data is the same.
We will do this by joining on every column except first appearance and seeing if there are any records which do not tally.
"""
#get list of all columns except first appearance
joinlist = marvelDCCharactersCsv.columns.tolist()
joinlist.remove("FirstAppearance")

#join csv and excel version together
marvelDCCharactersXLvsCSV = pd.merge(marvelDCCharactersCsv, marvelDCCharactersXl, on=joinlist, how='outer', indicator=True)
marvelDCCharactersXLvsCSV.groupby(["_merge"]).size()

#When joining on all columns except first appearance, the files perfectly join, so the excel version will be used from this point

_merge
left_only         0
right_only        0
both          39648
dtype: int64

In [286]:
charactersStats

,name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-d man,good,50,31,43,32,25,52,233
1,a-bomb,good,38,100,17,80,17,64,316
2,abe sapien,good,88,14,35,42,35,85,299
3,abin sur,good,50,90,53,64,84,65,406
4,abomination,bad,63,80,53,90,55,95,436
...,...,...,...,...,...,...,...,...,...
606,yellowjacket,good,88,10,12,28,12,14,164
607,yellowjacket ii,good,50,10,35,28,31,28,182
608,ymir,good,50,100,27,100,83,28,388
609,zatanna,good,75,10,23,28,100,56,292
610,zoom,bad,50,10,100,28,72,28,288

In [242]:
marvelCharactersInfo

,ID,name,Alignment,Gender,EyeColor,Race,HairColor,Publisher,SkinColor,Height,Weight
0,0,a-bomb,good,Male,yellow,Human,No Hair,Marvel Comics,-,203.0,441.0
1,1,abe sapien,good,Male,blue,Icthyo Sapien,No Hair,Dark Horse Comics,blue,191.0,65.0
2,2,abin sur,good,Male,blue,Ungaran,No Hair,DC Comics,red,185.0,90.0
3,3,abomination,bad,Male,green,Human / Radiation,No Hair,Marvel Comics,-,203.0,441.0
4,4,abraxas,bad,Male,blue,Cosmic Entity,Black,Marvel Comics,-,-99.0,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
729,729,yellowjacket ii,good,Female,blue,Human,Strawberry Blond,Marvel Comics,-,165.0,52.0
730,730,ymir,good,Male,white,Frost Giant,No Hair,Marvel Comics,white,304.8,-99.0
731,731,yoda,good,Male,brown,Yoda's species,White,George Lucas,green,66.0,17.0
732,732,zatanna,good,Female,blue,Human,Black,DC Comics,-,170.0,57.0
733,733,zoom,bad,Male,red,-,Brown,DC Comics,-,185.0,81.0

# Review of relationships between all files

In [288]:
#validate that every record in characters is also in charactersToComics
#join on character id
join_characters_charactersToComics = pd.merge(characters, charactersToComics, on="characterID",how='outer', indicator=True)
#merge status shows every record matched between these two dataframes
join_characters_charactersToComics.groupby(["_merge"]).size()

#one to one relationship

_merge
left_only         0
right_only        0
both          71845
dtype: int64

In [289]:
#validate that every record in comics is also in charactersToComics
join_comics_charactersToComics = pd.merge(comics, charactersToComics, on="comicID", how='outer', indicator=True)
join_comics_charactersToComics.groupby(["_merge"]).size()

#charactersToComics contains a subset of records of comics
#one to (zero or many) relationship

_merge
left_only     16625
right_only        0
both          71845
dtype: int64

In [290]:
#check characters to charactersStats
join_characters_charactersStats = pd.merge(characters, charactersStats, on="name", how='outer', indicator=True)
join_characters_charactersStats.groupby(["_merge"]).size()
#join_characters_charactersStats

#simple join on name shows that most cases do not join

_merge
left_only     972
right_only    413
both          199
dtype: int64

In [291]:
#check characters to marvelCharactersInfo
#by observation, the character table characterID does not tally to the Id of marvel characters info, so join on name
join_characters_marvelCharactersInfo = pd.merge(characters, marvelCharactersInfo, on="name", how='outer', indicator=True)
join_characters_marvelCharactersInfo.groupby(["_merge"]).size()

#each contains records that the other doesn't

_merge
left_only     954
right_only    512
both          223
dtype: int64

In [292]:
#check charactersStats to marvelCharacterInfo
join_marvelCharactersInfo_charactersStats = pd.merge(marvelCharactersInfo, charactersStats, on="name", how='outer', indicator=True)
join_marvelCharactersInfo_charactersStats.groupby(["_merge"]).size()

#each contains records that the other doesn't

_merge
left_only     135
right_only     28
both          601
dtype: int64

In [296]:
#check characters to superheroesPowerMatrix
#by observation, the character table characterID does not tally to the Id of marvel characters info, so join on name
join_characters_superheroesPowerMatrix = pd.merge(characters, superheroesPowerMatrix, on="name", how='outer', indicator=True)
join_characters_superheroesPowerMatrix.groupby(["_merge"]).size()

#each contains records that the other doesn't

_merge
left_only     970
right_only    468
both          200
dtype: int64

In [298]:
#check superheroesPowerMatrix to characterStats
#by observation, the character table characterID does not tally to the Id of marvel characters info, so join on name
join_superheroesPowerMatrix_charactersStats = pd.merge(superheroesPowerMatrix, charactersStats , on="name", how='outer', indicator=True)
join_superheroesPowerMatrix_charactersStats.groupby(["_merge"]).size()

#each contains records that the other doesn't

_merge
left_only     148
right_only     91
both          520
dtype: int64

In [300]:
#check superheroesPowerMatrix to marvelCharactersInfo
#by observation, the character table characterID does not tally to the Id of marvel characters info, so join on name
join_superheroesPowerMatrix_marvelCharactersInfo = pd.merge(superheroesPowerMatrix, marvelCharactersInfo , on="name", how='outer', indicator=True)
join_superheroesPowerMatrix_marvelCharactersInfo.groupby(["_merge"]).size()

#each contains records that the other doesn't

_merge
left_only      24
right_only     74
both          660
dtype: int64

In [319]:
#Some of the files contain common columns. An example of this is the Alignment column in marvelCharactersInfo and charactersStats. 
#Check if these match

join_marvelCharactersInfo_charactersStats['alignmentMatch'] = np.where((join_marvelCharactersInfo_charactersStats['Alignment_x'] != join_marvelCharactersInfo_charactersStats['Alignment_y']),'no match', 'match')
#find records which joined but do not have the same record for alignment
join_marvelCharactersInfo_charactersStats[(join_marvelCharactersInfo_charactersStats['alignmentMatch']=='no match') & (join_marvelCharactersInfo_charactersStats['_merge']=='both')]

#conclusion: common columns don't always match between tables even for common records

,ID,name,Alignment_x,Gender,EyeColor,Race,HairColor,Publisher,SkinColor,Height,...,Alignment_y,Intelligence,Strength,Speed,Durability,Power,Combat,Total,_merge,alignmentMatch
33,33.0,anti-venom,-,Male,blue,Symbiote,Blond,Marvel Comics,-,229.0,...,NaN,75.0,60.0,65.0,90.0,85.0,84.0,459.0,both,no match
48,48.0,atlas,bad,Male,blue,God / Eternal,Brown,DC Comics,-,198.0,...,good,50.0,80.0,23.0,99.0,69.0,42.0,363.0,both,no match
80,80.0,big barda,bad,Female,blue,New God,Black,DC Comics,-,188.0,...,good,63.0,90.0,23.0,85.0,42.0,72.0,375.0,both,no match
110,110.0,blackwulf,-,Male,red,Alien,White,Marvel Comics,-,188.0,...,NaN,50.0,28.0,8.0,30.0,59.0,25.0,200.0,both,no match
382,382.0,kevin 11,good,Male,-,Human,Black,DC Comics,-,-99.0,...,bad,25.0,7.0,12.0,14.0,100.0,40.0,198.0,both,no match
413,413.0,lobo,neutral,Male,red,Czarnian,Black,DC Comics,blue-white,229.0,...,bad,88.0,83.0,35.0,100.0,95.0,85.0,486.0,both,no match
471,471.0,moonstone,bad,Female,blue,-,Blond,Marvel Comics,-,180.0,...,good,56.0,67.0,47.0,52.0,79.0,80.0,381.0,both,no match
551,549.0,red hulk,neutral,Male,yellow,Human / Radiation,Black,Marvel Comics,red,213.0,...,good,50.0,88.0,47.0,95.0,59.0,75.0,414.0,both,no match
587,585.0,sentry,neutral,Male,blue,Mutant,Blond,Marvel Comics,-,188.0,...,good,75.0,80.0,58.0,84.0,97.0,54.0,448.0,both,no match
605,603.0,sinestro,neutral,Male,black,Korugaran,Black,DC Comics,red,201.0,...,bad,75.0,80.0,53.0,64.0,100.0,56.0,428.0,both,no match
678,676.0,trickster,-,Male,blue,Human,Blond,DC Comics,-,183.0,...,NaN,1.0,1.0,1.0,1.0,0.0,1.0,5.0,both,no match

# Data Transformation

## merge character data

In [322]:
characterDFs = [characters, charactersStats, superheroesPowerMatrix, marvelCharactersInfo]

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['name'],
                                            how='left', suffixes=(f'_{left.}', f'_y')), characterDFs)

In [340]:
marvelCharactersInfo

,ID,name,Alignment,Gender,EyeColor,Race,HairColor,Publisher,SkinColor,Height,Weight
0,0,a-bomb,good,Male,yellow,Human,No Hair,Marvel Comics,-,203.0,441.0
1,1,abe sapien,good,Male,blue,Icthyo Sapien,No Hair,Dark Horse Comics,blue,191.0,65.0
2,2,abin sur,good,Male,blue,Ungaran,No Hair,DC Comics,red,185.0,90.0
3,3,abomination,bad,Male,green,Human / Radiation,No Hair,Marvel Comics,-,203.0,441.0
4,4,abraxas,bad,Male,blue,Cosmic Entity,Black,Marvel Comics,-,-99.0,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
729,729,yellowjacket ii,good,Female,blue,Human,Strawberry Blond,Marvel Comics,-,165.0,52.0
730,730,ymir,good,Male,white,Frost Giant,No Hair,Marvel Comics,white,304.8,-99.0
731,731,yoda,good,Male,brown,Yoda's species,White,George Lucas,green,66.0,17.0
732,732,zatanna,good,Female,blue,Human,Black,DC Comics,-,170.0,57.0
733,733,zoom,bad,Male,red,-,Brown,DC Comics,-,185.0,81.0

In [356]:
#Clean up columns before join
#This id column is not required as the characterID from the characters table is being used as the ID
marvelCharactersInfoCleaned = \
    marvelCharactersInfo.drop(columns='ID') \
    .rename(columns= {"Alignment": "Alignment_MarvelCharactersInfo"})
    

#Rename columns that are duplicated in other dataframes
charactersStatsCleaned = charactersStats.rename(columns= \
                       {"Alignment": "Alignment_CharactersStats",
                        "Intelligence": "Intelligence_CharactersStats",
                        "Durability": "Durability_CharactersStats"
                       })

superHeroesPowerMatrixCleaned = superheroesPowerMatrix.rename(columns= \
                       {"Intelligence": "Intelligence_SuperHeroesPowerMatrix",
                        "Durability": "Durability_superHeroesPowerMatrix"
                       })

In [358]:
charactersStatsCleaned

,name,Alignment_CharactersStats,Intelligence_CharactersStats,Strength,Speed,Durability_CharactersStats,Power,Combat,Total
0,3-d man,good,50,31,43,32,25,52,233
1,a-bomb,good,38,100,17,80,17,64,316
2,abe sapien,good,88,14,35,42,35,85,299
3,abin sur,good,50,90,53,64,84,65,406
4,abomination,bad,63,80,53,90,55,95,436
...,...,...,...,...,...,...,...,...,...
606,yellowjacket,good,88,10,12,28,12,14,164
607,yellowjacket ii,good,50,10,35,28,31,28,182
608,ymir,good,50,100,27,100,83,28,388
609,zatanna,good,75,10,23,28,100,56,292
610,zoom,bad,50,10,100,28,72,28,288

In [361]:
df_merged = pd.merge(characters, charactersStatsCleaned, on = 'name', how = 'left')
df_merged = pd.merge(df_merged, superHeroesPowerMatrixCleaned, on = 'name', how = 'left')
df_merged = pd.merge(df_merged, marvelCharactersInfoCleaned, on = 'name', how = 'left')

In [362]:
for column in df_merged.columns:
    print(column)

characterID
name
Alignment_CharactersStats
Intelligence_CharactersStats
Strength
Speed
Durability_CharactersStats
Power
Combat
Total
Agility
Accelerated Healing
Lantern Power Ring
Dimensional Awareness
Cold Resistance
Durability_superHeroesPowerMatrix
Stealth
Energy Absorption
Flight
Danger Sense
Underwater breathing
Marksmanship
Weapons Master
Power Augmentation
Animal Attributes
Longevity
Intelligence_SuperHeroesPowerMatrix
Super Strength
Cryokinesis
Telepathy
Energy Armor
Energy Blasts
Duplication
Size Changing
Density Control
Stamina
Astral Travel
Audio Control
Dexterity
Omnitrix
Super Speed
Possession
Animal Oriented Powers
Weapon-based Powers
Electrokinesis
Darkforce Manipulation
Death Touch
Teleportation
Enhanced Senses
Telekinesis
Energy Beams
Magic
Hyperkinesis
Jump
Clairvoyance
Dimensional Travel
Power Sense
Shapeshifting
Peak Human Condition
Immortality
Camouflage
Element Control
Phasing
Astral Projection
Electrical Transport
Fire Control
Projection
Summoning
Enhanced Memory
Reflexes
Invulnerability
Energy Constructs
Force Fields
Self-Sustenance
Anti-Gravity
Empathy
Power Nullifier
Radiation Control
Psionic Powers
Elasticity
Substance Secretion
Elemental Transmogrification
Technopath/Cyberpath
Photographic Reflexes
Seismic Power
Animation
Precognition
Mind Control
Fire Resistance
Power Absorption
Enhanced Hearing
Nova Force
Insanity
Hypnokinesis
Animal Control
Natural Armor
Intangibility
Enhanced Sight
Molecular Manipulation
Heat Generation
Adaptation
Gliding
Power Suit
Mind Blast
Probability Manipulation
Gravity Control
Regeneration
Light Control
Echolocation
Levitation
Toxin and Disease Control
Banish
Energy Manipulation
Heat Resistance
Natural Weapons
Time Travel
Enhanced Smell
Illusions
Thirstokinesis
Hair Manipulation
Illumination
Omnipotent
Cloaking
Changing Armor
Power Cosmic
Biokinesis
Water Control
Radiation Immunity
Vision - Telescopic
Toxin and Disease Resistance
Spatial Awareness
Energy Resistance
Telepathy Resistance
Molecular Combustion
Omnilingualism
Portal Creation
Magnetism
Mind Control Resistance
Plant Control
Sonar
Sonic Scream
Time Manipulation
Enhanced Touch
Magic Resistance
Invisibility
Sub-Mariner
Radiation Absorption
Intuitive aptitude
Vision - Microscopic
Melting
Wind Control
Super Breath
Wallcrawling
Vision - Night
Vision - Infrared
Grim Reaping
Matter Absorption
The Force
Resurrection
Terrakinesis
Vision - Heat
Vitakinesis
Radar Sense
Qwardian Power Ring
Weather Control
Vision - X-Ray
Vision - Thermal
Web Creation
Reality Warping
Odin Force
Symbiote Costume
Speed Force
Phoenix Force
Molecular Dissipation
Vision - Cryo
Omnipresent
Omniscient
Alignment_MarvelCharactersInfo
Gender
EyeColor
Race
HairColor
Publisher
SkinColor
Height
Weight

## characters to comics

In [171]:
#join the charactersToComics and Comics data
combinedComicCharacters = pd.merge(charactersToComics, comics, on="comicID", how='left')
combinedComicCharacters

,comicID,characterID,title,issueNumber,description
0,16232,1009220,Cap Transport (2005) #12,12.0,None
1,16232,1010740,Cap Transport (2005) #12,12.0,None
2,16248,1009220,Cap Transport (2005) #9,9.0,None
3,16248,1009471,Cap Transport (2005) #9,9.0,None
4,16248,1009552,Cap Transport (2005) #9,9.0,None
...,...,...,...,...,...
71840,46047,1009268,Deadpool (2012) #11,11.0,<ul><li>Concluding the 2nd arc of MARVEL NOW! Deadpool!</li><li>Can Wade trust hell to keep their side of his contract?</li><li>Will all of Deadpool&rsquo;s new friends end up dead because of him?...
71841,46047,1009378,Deadpool (2012) #11,11.0,<ul><li>Concluding the 2nd arc of MARVEL NOW! Deadpool!</li><li>Can Wade trust hell to keep their side of his contract?</li><li>Will all of Deadpool&rsquo;s new friends end up dead because of him?...
71842,46047,1009215,Deadpool (2012) #11,11.0,<ul><li>Concluding the 2nd arc of MARVEL NOW! Deadpool!</li><li>Can Wade trust hell to keep their side of his contract?</li><li>Will all of Deadpool&rsquo;s new friends end up dead because of him?...
71843,46210,1009368,Iron Man (2012) #11,11.0,&ldquo;THE SECRET ORIGIN\r\nOF TONY STARK&rdquo; CONTINUES!\r\n\r\n\r\n\r\n\r\n<ul><li>The Price.</li><li>The Deal.</li><li>The Consequences.</li></ul>
71844,46882,1009652,Thanos Rising (2013) #3,3.0,<ul><li>The Mad Titan flees his home in search of true love.</li><li>But how many lives will he have to take to find it?</li><li>The book so blood-soaked you&rsquo;ll be glad it&rsquo;s a mini-ser...

In [184]:
#aggregate the comics data so there is one record (json array) per character
characterComicDF = (combinedComicCharacters.groupby('characterID', as_index=True)
             .apply(lambda x: x[['comicID','title','issueNumber', 'description']].to_dict('r'))
             .reset_index()
             .rename(columns={0:'Comics'}))

C:\Users\steve\anaconda3\lib\site-packages\pandas\core\frame.py:1485: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  warnings.warn(

In [368]:
characterComicDF

,characterID,Comics
0,1009144,"[{'comicID': 65466, 'title': 'Captain America by Mark Waid, Ron Garney & Andy Kubert (Hardcover)', 'issueNumber': 0.0, 'description': 'One of the most celebrated runs in Captain America history - ..."
1,1009146,"[{'comicID': 60446, 'title': 'Marvel Masterworks: The Incredible Hulk Vol. 11 (Hardcover)', 'issueNumber': 0.0, 'description': 'Collecting Incredible Hulk (1968) #184-196 and material from Giant-S..."
2,1009148,"[{'comicID': 43507, 'title': 'A+X (2012) #8', 'issueNumber': 8.0, 'description': 'SPIDER-WOMAN & KITTY PRYDE (with Lockheed in tow, of course) investigate some unfinished alien business! Adam Warr..."
3,1009149,"[{'comicID': 2539, 'title': 'X-Men: The Complete Age of Apocalypse Epic Book 2 (Trade Paperback)', 'issueNumber': 0.0, 'description': 'See your favorite mutants through a dark glass as the epic th..."
4,1009150,"[{'comicID': 3357, 'title': 'Weapon X: Days of Future Now (Trade Paperback)', 'issueNumber': 0.0, 'description': 'Weapon X is back! The War of the Programs is over; now, Director Malcolm Colcord i..."
...,...,...
1165,1017574,"[{'comicID': 60676, 'title': 'Guardians of the Galaxy Vol. 4 (Hardcover)', 'issueNumber': 0.0, 'description': 'When Peter Quill abandons the Guardians to become Emperor of Spartax, Rocket grabs th..."
1166,1017575,"[{'comicID': 65119, 'title': 'Generations (Hardcover)', 'issueNumber': 0.0, 'description': 'Once upon a time, a skinny kid from New York City picked up a shield and charged into battle... a prodig..."
1167,1017576,"[{'comicID': 65293, 'title': 'Mighty Thor (2015) #702', 'issueNumber': 702.0, 'description': 'As the War of the Realms continues to spread, Jane Foster has finally had enough. Will she rally the A..."
1168,1017577,"[{'comicID': 69019, 'title': 'Marvel Rising: Ms. Marvel/Squirrel Girl (2018)', 'issueNumber': 0.0, 'description': 'THE GAME IS UP IN THE PENULTIMATE CHAPTER OF MARVEL RISING! When Ember Quade trap..."
1169,1017583,"[{'comicID': 69079, 'title': 'Moon Girl and Devil Dinosaur (2015) #33', 'issueNumber': 33.0, 'description': '“SAVE OUR SCHOOL” PART TWO! Lunella Lafayette is the smartest person in the Marvel Univ..."

In [363]:
characterComicDF

,characterID,Comics
0,1009144,"[{'comicID': 65466, 'title': 'Captain America by Mark Waid, Ron Garney & Andy Kubert (Hardcover)', 'issueNumber': 0.0, 'description': 'One of the most celebrated runs in Captain America history - ..."
1,1009146,"[{'comicID': 60446, 'title': 'Marvel Masterworks: The Incredible Hulk Vol. 11 (Hardcover)', 'issueNumber': 0.0, 'description': 'Collecting Incredible Hulk (1968) #184-196 and material from Giant-S..."
2,1009148,"[{'comicID': 43507, 'title': 'A+X (2012) #8', 'issueNumber': 8.0, 'description': 'SPIDER-WOMAN & KITTY PRYDE (with Lockheed in tow, of course) investigate some unfinished alien business! Adam Warr..."
3,1009149,"[{'comicID': 2539, 'title': 'X-Men: The Complete Age of Apocalypse Epic Book 2 (Trade Paperback)', 'issueNumber': 0.0, 'description': 'See your favorite mutants through a dark glass as the epic th..."
4,1009150,"[{'comicID': 3357, 'title': 'Weapon X: Days of Future Now (Trade Paperback)', 'issueNumber': 0.0, 'description': 'Weapon X is back! The War of the Programs is over; now, Director Malcolm Colcord i..."
...,...,...
1165,1017574,"[{'comicID': 60676, 'title': 'Guardians of the Galaxy Vol. 4 (Hardcover)', 'issueNumber': 0.0, 'description': 'When Peter Quill abandons the Guardians to become Emperor of Spartax, Rocket grabs th..."
1166,1017575,"[{'comicID': 65119, 'title': 'Generations (Hardcover)', 'issueNumber': 0.0, 'description': 'Once upon a time, a skinny kid from New York City picked up a shield and charged into battle... a prodig..."
1167,1017576,"[{'comicID': 65293, 'title': 'Mighty Thor (2015) #702', 'issueNumber': 702.0, 'description': 'As the War of the Realms continues to spread, Jane Foster has finally had enough. Will she rally the A..."
1168,1017577,"[{'comicID': 69019, 'title': 'Marvel Rising: Ms. Marvel/Squirrel Girl (2018)', 'issueNumber': 0.0, 'description': 'THE GAME IS UP IN THE PENULTIMATE CHAPTER OF MARVEL RISING! When Ember Quade trap..."
1169,1017583,"[{'comicID': 69079, 'title': 'Moon Girl and Devil Dinosaur (2015) #33', 'issueNumber': 33.0, 'description': '“SAVE OUR SCHOOL” PART TWO! Lunella Lafayette is the smartest person in the Marvel Univ..."

In [364]:
finalData = pd.merge(df_merged, characterComicDF, on="characterID", how='left')

In [367]:
df_merged.columns

Index(['characterID', 'name', 'Alignment_CharactersStats',
       'Intelligence_CharactersStats', 'Strength', 'Speed',
       'Durability_CharactersStats', 'Power', 'Combat', 'Total',
       ...
       'Omniscient', 'Alignment_MarvelCharactersInfo', 'Gender', 'EyeColor',
       'Race', 'HairColor', 'Publisher', 'SkinColor', 'Height', 'Weight'],
      dtype='object', length=186)

In [129]:
finalData.to_parquet('df.parquet')

In [181]:
username = "postgres"
password = "docker"
dbname = "postgres"
server = "localhost:5432"
table = "MarvelHeroes"
connectionString = f'postgresql://{username}:{password}@{server}/{dbname}'
print(connectionString)
engine = create_engine(f'postgresql://{username}:{password}@{server}/{dbname}')

finalData[['characterID', 'name', 'Comics']].to_sql(table, engine,dtype={'Comics': sqlalchemy.types.JSON})

postgresql://postgres:docker@localhost:5432/postgres

ValueError: Table 'MarvelHeroes' already exists.

In [182]:
check=engine.has_table(table)

In [183]:
check

True